__pycache__/
venv

.vscode/

app/db.sqlite3
app/config/deploy.py

app/static
app/media

app/frontend/vendor

app/frontend/static/data
app/frontend/static/images
app/frontend/static/pictures
app/frontend/static/magazine
app/frontend/static/dependencies
app/frontend/static/leaflet-1.1.0
