__pycache__/
venv

.vscode/

npo/db.sqlite3
npo/npo/deploy.py

npo/static
npo/media

npo/npo/static/data
npo/npo/static/images
npo/npo/static/pictures
npo/npo/static/magazine
npo/npo/static/dependencies
npo/npo/static/leaflet-1.1.0
