__pycache__/
venv

.vscode/

app/db.sqlite3
app/npo/deploy.py

app/static
app/media

app/npo/static/data
app/npo/static/images
app/npo/static/pictures
app/npo/static/magazine
app/npo/static/dependencies
app/npo/static/leaflet-1.1.0
