<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin=""/>

        <link rel="stylesheet" type="text/css" href="/static/admin/style.css">

        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>

        <title>NPO - Kadaster</title>
    </head>
    <body>
        <div class="h-100">
            <div id="map" class="h-100"></div>
        </div>

        <script type="text/javascript">

            var baselayer1 = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {maxZoom: 18, attribution: '<a href="https://www.openstreetmap.org" target="_blank">OpenStreetMap</a>'});
            var baselayer2 = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {maxZoom: 18, attribution: '<a href="http://www.esri.com" target="_blank">ESRI</a>'});

            var baselayers = {
                'Kaart': baselayer1,
                'Satelliet': baselayer2
                };

            style_npo = {
                "weight": 3,
                "color": '#1f78b4',
                "fillOpacity": 0.5,
            };

            style_anb = {
                "weight": 3,
                "color": '#33a02c',
                "fillOpacity": 0.5,
            };

            style_ilvo = {
                "weight": 3,
                "color": '#ff7f00',
                "fillOpacity": 0.5,
            };

            style_go = {
                "weight": 3,
                "color": '#fdbf6f',
                "fillOpacity": 0.5,
            };

            style_gondebeek = {
                "weight": 1,
                "color": '#000000',
                "fillOpacity": 0.,
            };

            function highlightFeature(e) {
                var layer = e.target;

                layer.setStyle({
                    "weight": 3,
                    "color": 'red',
                    "fillOpacity": 0.5,
                });

                if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                    layer.bringToFront();
                }
            }

            function resetHighlight(e) {
                if (e.target.feature.properties.Eigenaar == 'NPO') {
                    e.target.setStyle(style_npo);
                } else if (e.target.feature.properties.Eigenaar == 'ANB') {
                    e.target.setStyle(style_anb);
                } else if (e.target.feature.properties.Eigenaar == 'ILVO') {
                    e.target.setStyle(style_ilvo);
                } else if (e.target.feature.properties.Eigenaar == 'GO!') {
                    e.target.setStyle(style_go);
                } else {
                    e.target.setStyle(style_gondebeek);
                };
            }

            function showData(e) {
                e.target.bindPopup("Loading...").openPopup();
                console.log(e.target.feature.properties);
                var popup = e.target.getPopup();
                var str = e.target.feature.properties.CAPAKEY;
                var res = str.replace("/", "-");
                var url = "/admin/perceel/" + res;
                $.get(url, function(data) {
                    console.log(data);
                    // data.getElementById("size").value = "My value";
                    popup.setContent(data);
                    popup.update();
                });
            }

            function onEachFeature(feature, layer) {
                if (feature.properties.Eigenaar == 'NPO') {
                    layer.setStyle(style_npo);
                } else if (feature.properties.Eigenaar == 'ANB') {
                    layer.setStyle(style_anb);
                } else if (feature.properties.Eigenaar == 'ILVO') {
                    layer.setStyle(style_ilvo);
                } else if (feature.properties.Eigenaar == 'GO!') {
                    layer.setStyle(style_go);
                } else {
                    layer.setStyle(style_gondebeek);
                };
                layer.on({
                    mouseover: highlightFeature,
                    mouseout: resetHighlight,
                    click: showData,
                });
            }

            var gondebeek = L.geoJson(JSON.parse('{{ gondebeek_parcels | escapejs }}'), {onEachFeature: onEachFeature});

            // var overlays = {'Gondebeek': gondebeek};
            var overlays = {};

            var map = L.map('map', {layers: [baselayer1]}).setView([50.97, 3.785], 15);

            gondebeek.addTo(map);

            layer_control = L.control.layers(baselayers, overlays, {collapsed: false});
            layer_control.addTo(map);

        </script>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
