<div>
    <div id="key"></div>
    <br />
    <div id="size"></div>
    <br />
    {% if parcel %}
    <div>
        Eigenaar(s):
        {% for owner in parcel.owners.all %}
        <div>{{ owner }} ({{ owner.address }})</div>
        {% empty %}
         niet gekend
        {% endfor %}
        <div>
            {{ parcel.info | safe }}
        </div>
        <div>
            <a href="/admin/register/parcel/{{ parcel.id }}/change/" target="_blank">Aanpassen</a>
        </div>
    </div>
    {% else %}
    Geen informatie!
    {% endif %}
</div>
