
/* ------------------------------------------------------------------------- */

$color1: #97C00E;
$color2: #E8F2D9;
$color3: #808080;
$color4: #FFFFFF;

/* ------------------------------------------------------------------------- */

html {
    overflow-y: scroll; /* always show scrollbar */
}

html, body {
    height: 100%;
}

/* ------------------------------------------------------------------------- */

#wrap {
    /* min-width: 350px; */
    height: 100%;
}

#embody {
    /* margin: 50px 0px; */
}

/* ------------------------------------------------------------------------- */

a:link, a:focus, a:visited, a:active {
    /* outline: 0; */
    color: $color1;
}

a:hover {
    color: $color1;
}

p {
    /* margin: 0px; */
    /* line-height: 1.5; */
}

h2+p {
    /* margin-top: 10px; */
}

p+h2 {
    /* margin-top: 20px; */
}

p+p {
    /* margin-top: 10px; */
}

/* ------------------------------------------------------------------------- */

.color1 {
    color: $color1;
}

.color2 {
    color: $color2;
}

.color3 {
    color: $color3;
}

.color4 {
    color: $color4;
}

.bg-color1 {
    background: $color1;
}

.bg-color2 {
    background: $color2;
}

.box {
    background-color: $color2;
}

.box-heading {
    padding: 0.5rem;
    font-weight: bold;
    color: $color4;
    background: $color1;
}

.box-content {
    padding: 0.5rem;
}

.date1 {
    /* margin-bottom: 15px; */
    /* line-height: 1; */
}

/* ------------------------------------------------------------------------- */


h1.page_title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: $color3;
}

h1.page_title_with_date {
    /* margin-bottom: 15px; */
}

h2.sub_title {
    color: $color1;
}

h4.page_date {
    color: $color1;
}

a.color1:link, a.color1:focus, a.color1:visited, a.color1:active {
    /* text-decoration: None; */
    /* color: $color1; */
}

a.color1:hover {
    /* text-decoration: underline; */
    /* color: $color1; */
}

a.color3:link, a.color3:focus, a.color3:visited, a.color3:active {
    /* text-decoration: None; */
    /* color: $color3; */
}

a.color3:hover {
    /* text-decoration: underline; */
    /* color: $color3; */
}

a.color4:link, a.color4:focus, a.color4:visited, a.color4:active {
    text-decoration: None;
    color: $color4;
}

a.color4:hover {
    text-decoration: underline;
    color: $color4;
}

a.nothing:hover {
    text-decoration: None;
}

a.button1 {
    /* background-color: $color2; */
    /* display: inline-block; */
    /* color: $color1; */
    /* text-decoration: None; */
    /* cursor: pointer; */
}

a.button1:hover {
    /* color: $color4; */
    /* text-decoration: None; */
    /* background: $color1; */
}

/* ------------------------------------------------------------------------- */

#header {

    #header1 {

        a {
            color: $color3;
            font-size: 0.95rem;
        }

    }

    #header2 {
        /* box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176); */
        font-size: 1.05rem;

        @media (min-width: 992px) {
            .navbar-header{
                /* margin-right: 75px; */
            }
        }

        a {
            font-weight: bold;
            color: $color4;
            border-radius: 1rem!important;
        }

        a:focus {
            /* color: $color4; */
            /* background: $color1; */
        }

        a:hover {
            color: $color1;
            background: $color4;
        }

        .my-icon {
            border-color: $color4;
        }

        .my-icon-data {
            background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
        }

    }

}

/* ------------------------------------------------------------------------- */

#embody {

    #start {

        #newsletter {

            .button {
                width: 100%;
                padding: 5px;
                background-color: $color2;
                border-radius: 0px;
                color: $color1;
            }

            #id_email {
                width: 100%;
                padding: 5px;
                border: 1px solid #e5e5dc;
                color: $color3;
                background-color: #f3f2eb;
            }

        }

    }

    #activity_page {

        img {
            margin-top: 25px;
            margin-bottom: 25px;
        }

        .other {
            margin-top: 25px;
        }

    }

    #gluren_bij_de_buren_page {

        .intro {
            /* margin-bottom: 25px; */
        }

        .activity {

            .title {
                /* color: $color1; */
            }

            .date {
                /* margin: 10px 0px; */
            }

            .text {
                /* margin-bottom: 5px; */
            }

            .link {
                /* font-style: italic; */
            }

        }

        .activity + .activity {
            /* margin-top: 25px; */
        }

    }

    #page_content {

        /* margin: 25px 0px; */
        /* text-align: justify; */

        .picture {
            /* margin-bottom: 25px; */
        }

        .movie {
            /* margin: 25px 0px; */
        }

    }

}

/* -- footer --------------------------------------------------------------- */

#footer {

    font-size: 0.95rem;

    #footer1 {
        color: $color3;

        .icon {
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background: $color3;
            float: left;
            text-align: center;
            color: $color4;
            line-height: 40px;
        }

        .icon:first-of-type {
            margin-right: 5px;
        }

        .icon:hover {
            background: $color1;
        }

        #footer_1_row {
            align-items: center;
            line-height: 40px;
        }

        #gototop {
            float: right;
            width: 40px;
            height: 40px;
            background: $color3;
            border-radius: 3px;
            text-align: center;
            color: $color4;
            cursor: pointer;
        }

        #gototop:hover {
            background: $color1;
        }

    }

}
