/* ------------------------------------------------------------------------- */
html {
  overflow-y: scroll;
  /* always show scrollbar */
}

html, body {
  height: 100%;
}

h1 {
  font-size: 2.00rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.50rem;
}

h4 {
  font-size: 1.25rem;
}

a:link, a:focus, a:visited, a:active {
  color: #97C00E;
}

a:hover {
  color: #97C00E;
}

/* ------------------------------------------------------------------------- */
.color1 {
  color: #198134;
}

.color2 {
  color: #97C00E;
}

.color3 {
  color: #E8F2D9;
}

.color4 {
  color: #808080;
}

.color5 {
  color: #FFFFFF;
}

.bg-color2 {
  background: #97C00E;
}

.bg-color3 {
  background: #E8F2D9;
}

.box {
  background-color: #E8F2D9;
}

.box-heading {
  padding: 0.5rem;
  font-weight: bold;
  color: #FFFFFF;
  background: #97C00E;
}

.box-content {
  padding: 1rem;
}

.np-btn {
  background-color: #198134;
  border-color: #198134;
}

/* ------------------------------------------------------------------------- */
h1.page_title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #198134;
}

h2.sub_title {
  color: #97C00E;
}

h4.page_date {
  color: #97C00E;
}

a.color4:link, a.color4:focus, a.color4:visited, a.color4:active {
  -webkit-text-decoration: None;
          text-decoration: None;
  color: #808080;
}

a.color4:hover {
  text-decoration: underline;
  color: #808080;
}

a.color5:link, a.color5:focus, a.color5:visited, a.color5:active {
  -webkit-text-decoration: None;
          text-decoration: None;
  color: #FFFFFF;
}

a.color5:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

a.nothing:hover {
  -webkit-text-decoration: None;
          text-decoration: None;
}

/* ------------------------------------------------------------------------- */
#wrap {
  height: 100%;
}

#header #header1 a {
  color: #808080;
  font-size: 0.95rem;
}

#header #header2 {
  font-size: 1.05rem;
  font-weight: bold;
}

#header #header2 a {
  color: #FFFFFF;
}

#header #header2 a:hover {
  background: #198134;
}

#header #header2 .my-icon {
  border-color: #FFFFFF;
}

#header #header2 .my-icon-data {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

/* ------------------------------------------------------------------------- */
#embody #start .over_image {
  position: absolute;
  bottom: 10px;
  left: 25px;
  right: 25px;
  color: #FFFFFF;
  font-weight: bold;
}

#embody #start .small_date {
  font-size: 12px;
}

#embody #start #newsletter .button {
  width: 100%;
  background-color: #E8F2D9;
  color: #97C00E;
  font-size: 15px;
}

#embody #start #newsletter #id_email {
  width: 100%;
  padding: 5px;
  border: 1px solid #e5e5dc;
  color: #808080;
  background-color: #f3f2eb;
}

#embody #activity_page img {
  margin-top: 25px;
  margin-bottom: 25px;
}

#embody #activity_page .other {
  margin-top: 25px;
}

#embody #article_page img {
  margin-top: 25px;
  margin-bottom: 25px;
}

#embody #article_page .other {
  margin-top: 25px;
}

#embody #gluren_bij_de_buren_page .intro {
  margin-bottom: 25px;
}

#embody #gluren_bij_de_buren_page .activity .date {
  margin: 10px 0px;
  font-weight: bold;
}

#embody #gluren_bij_de_buren_page .activity .text {
  margin-bottom: 5px;
}

#embody #gluren_bij_de_buren_page .activity .link {
  font-style: italic;
}

#embody #gluren_bij_de_buren_page .activity + .activity {
  margin-top: 25px;
}

/* -- footer --------------------------------------------------------------- */
#footer {
  font-size: 0.95rem;
}

#footer #footer1 {
  color: #808080;
}

#footer #footer1 .icon {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #808080;
  float: left;
  text-align: center;
  color: #FFFFFF;
  line-height: 40px;
  margin-left: 10px;
}

#footer #footer1 .icon:first-of-type {
  margin-left: 0px;
}

#footer #footer1 .icon:hover {
  background: #97C00E;
}

#footer #footer1 #gototop {
  padding-top: 5px;
  float: right;
  width: 40px;
  height: 40px;
  background: #808080;
  border-radius: 5px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

#footer #footer1 #gototop:hover {
  background: #97C00E;
}
/*# sourceMappingURL=style.css.map */