{% extends "index.htm" %}

{% block embody %}
<div id="beleid" class="container">
    <h1 class="page_title">Beleid</h1>
    <div class="row">
        <div class="col-md-12 col-lg-8">
            <p class="text-justify">
                Natuurpunt Oosterzele tracht waar mogelijk te wegen op het lokale beleid inzake milieu en natuur. Dit doen we onder andere door middel van onze vertegenwoordigers in de gemeentelijke adviesraad voor milieu en natuur (Minaraad).
            </p>
            <p class="text-justify">
                De Minaraad geeft hetzij op eigen initiatief, hetzij op vraag advies aan het college van burgemeester en schepenen of aan de gemeenteraad over het gemeentelijk milieu- en natuurbeleid. In de Minaraad zitten vertegenwoordigers van lokale milieu- en natuurverenigingen, naast vertegenwoordigers uit onderwijsinstellingen, sociaal-culturele organisaties en beroepsgroepen zoals land- en tuinbouwers. Een aantal van deze leden zijn stemgerechtigd. Het lidmaatschap van de Minaraad loopt gelijk met de duur van het mandaat van de leden van de gemeenteraad. Diverse thema’s kunnen aan bod komen op de Minaraad: afvalbeleid, ruimtelijke plannen, subsidie-reglement, natuurontwikkelingsbeleid, lokaal energiebeleid, etc. De Minaraad streeft naar een intensieve samenwerking met andere gemeentelijke of provinciale adviesraden.
            </p>
            <p class="text-justify">
                NPO maakte in het verleden al verschillende zaken aanhangig in de Minaraad. Zo werd bijvoorbeeld bezwaar gemaakt tegen het kappen van de laanbomen in de Hofkouterwijk, werd het pesticidegebruik in wegbermen en langs waterlopen op de agenda geplaatst en recent werd door NPO via de Minaraad een advies verleend rond de bescherming van de oeverzwaluwkolonie ter gelegenheid van de geplande uitbreiding van de zandsteengroeve in Balegem. NPO werkt ook geregeld mee aan educatieve en sensibiliserende acties georganiseerd in de schoot van de Minaraad zelf (bv. gemeentelijke milieuweek, Film in het Bos, …).
            </p>
            <p class="text-justify">
                Bij gemeenteraadsverkiezingen maken we ook een memorandum op met een algemene visie op het lokale milieu- en natuurbeleid. Bijkomend leggen we enkele vragen voor aan de partijen die opkomen bij de verkiezing. Zo hopen we iedereen te informeren naar de intenties van elke partij. <a href="/beleid/memorandum/">Lees hier het memorandum van de gemeenteraadsverkiezingen 2018</a>.
            </p>
        </div>
        <div class="col-md-12 col-lg-4">
            <div class="box">
                <div class="box-content">
                    Mathieu Wille en Bart Vleminckx vertegenwoordigen Natuurpunt Oosterzele in de Minaraad. Heb je vragen of opmerkingen, of wil je problemen signaleren die verband houden met het gemeentelijk milieu- en natuurbeleid, aarzel dan niet om hen hierover te <a href="mailto:info@natuurpuntoosterzele.be">contacteren</a>.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
