{% extends "index.htm" %}
{% load static %}

{% block embody %}
<div id="lidworden" class="container">
    <h1 class="page_title">Lid worden</h1>
    <div class="row">
        <div class="col-md-8">
            <p>Help de natuur in Vlaanderen en word met het ganse gezin lid van Natuurpunt. Samen met meer dan 133.000 gezinnen maak je wel degelijk het verschil. Zo kopen we jaarlijks ongeveer 1 m² natuur aan per Vlaming; beheren we meer dan 25.000 ha kwalitatief en biodivers natuurgebied; en verdedigen we het standpunt van de natuur bij de overheid. Het jaarlijkse lidmaatschap per gezin bedraagt slechts 38,00 euro.</p>
            <p>Lid worden van Natuurpunt betekent ook genieten van de natuur én van heel wat voordelen! Je krijgt namelijk:</p>
            <ul class="mb-0">
                <li>de Natuurpunt fiets- en wandelgids met wandelingen en fietstochten in de mooiste natuurgebieden van Vlaanderen,</li>
                <li>vier maal per jaar het kleurrijke Natuur.blad: ons magazine boordevol tips, weetjes en verhalen,</li>
                <li>vier maal per jaar het lokaal magazine van Natuurpunt Oosterzele,</li>
                <li>een uitgebreid aanbod van activiteiten voor jong en oud in gans Vlaanderen,</li>
                <li>korting in onze webshop en bij tal van partners.</li>
            </ul>

            <a type="button" class="btn np-btn btn-lg my-4 color5 nothing" href="https://www.natuurpunt.be/steunen/lidmaatschap/inschrijven?recruiting_organisation_id=248629" target="_blank">Word lid van Natuurpunt</a>

            <p>Als de digitale weg echt niets voor jou is, kan je ook lid worden door 38,00 € over te schrijven op rekeningnummer BE37 0012 2707 2228 van Natuurpunt Oosterzele met vermelding van "nieuw lid - voornaam naam, adres".</p>

            <h2>Geef een lidmaatschap cadeau!</h2>
            <p>Op zoek naar een origineel geschenk? Geef je familie en vrienden een stukje natuur cadeau met een lidmaatschap van Natuurpunt! Jij betaalt het lidgeld, zij ontvangen het welkomstpakket en genieten van alle leuke ledenvoordelen. Lees er <a href="http://www.natuurpunt.be/geef-een-lidmaatschap-cadeau" target="_blank">hier</a> meer over.</p>
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/lidworden_1.png' %}" class="img-fluid" alt="">
        </div>
    </div>
</div>
{% endblock %}
