{% extends "index.htm" %}

{% block embody %}
<div id="articles_page">
    <div class="container">
        <h1 class="page_title">Nieuws</h1>
        <div class="row">
            {% for article in articles %}
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <a class="nothing" href="/nieuws/{{article.date | date:'Y-m-d'}}-{{article.slug}}">
                        <div class="bg-light p-2 h-100">
                            <h3 class="color2">{{article.title}}</h3>
                            <p>{{ article.date }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
