{% extends "index.htm" %}

{% block embody %}
<div id="activity_page">
    <div class="container">
        <div class="mb-5">
            <h1 class="page_title">{{ activity.name }}</h1>
            <h4 class="page_date">{{ activity.date | date:'l j F Y' | capfirst }}</h4>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div>{{ activity.intro | safe }}</div>
                <div class="box p-3">
                    <h3>Praktisch</h3>
                    {% if activity.practical %}
                        {{ activity.practical | safe }}
                    {% else %}
                        <p>Contacteer ons via <a href="mailto:info@natuurpuntoosterzele.be">info@natuurpuntoosterzele.be</a> voor vragen omtrent deze activiteit.</p>
                    {% endif %}
                </div>
                <div class="other">
                    <h3>Andere activiteiten</h3>
                    {% for recent_activity in recent_activities %}
                        <div style="margin-bottom: 10px">
                            <a href="/activiteiten/{{recent_activity.date | date:'Y-m-d'}}-{{recent_activity.slug}}"><b>{{ recent_activity.name }} - {{ recent_activity.date | date:'l d F' }}</b></a>
                            <p>{{ recent_activity.short }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-3">
                <a class="nothing" href="/lid-worden">
                    <div class="bg-color1 p-3 color5 shadow">
                        <div class="fs-5 mb-3">Help mee onze schaarse natuur te beschermen en wordt lid van Natuurpunt</div>
                        <div class="fs-6">Samen met meer dan 133.000 gezinnen maak je wel degelijk het verschil.</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
