{% extends "index.htm" %}

{% block embody %}
<div id="activities_page">
    <div class="container">
        <h1 class="page_title">Activiteiten</h1>
        <div class="row">
            {% for activity in activities %}
                <div class="col-sm-12 col-md-6 col-lg-4" style="margin-bottom: 25px;">
                    <a href="/activiteiten/{{activity.date | date:'Y-m-d'}}-{{activity.slug}}" class="nothing"><h3 class="color1">{{activity.name}}</h3></a>
                    <p>{{activity.date | date:'l d F Y' | capfirst}}</p>
                    <p>{{ activity.short }}</p>
                    <a class="btn btn-default" href="/activiteiten/{{activity.date | date:'Y-m-d'}}-{{activity.slug}}" role="button">Meer info</a>
                </div>
                {% if forloop.counter == 2 %}<div class="clearfix visible-md-block"></div>{% endif %}
                {% if forloop.counter == 3 %}<div class="clearfix visible-lg-block"></div>{% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
