{% extends "index.htm" %}

{% block embody %}
<div id="activity_page">
    <div class="container">
        <div class="row">
            <div id="" class="col-md-2">
            </div>
            <div id="" class="col-md-8">
                <h1 class="page_title_with_date">{{ activity.name }}</h1>
                <h4>{{ activity.date | date:'l d F Y' }}</h4>
                <div id="content">{{ activity.intro | safe }}</div>
                <div class="box">
                    <h3 class="box_title">Praktisch</h3>
                    {% if activity.practical %}
                        {{ activity.practical | safe }}
                    {% else %}
                        <p>Contacteer ons via <a href="mailto:info@natuurpuntoosterzele.be">info@natuurpuntoosterzele.be</a> voor vragen omtrent deze activiteit.</p>
                    {% endif %}
                </div>
                <div class="">
                    <h3 style="margin-bottom: 15px">Andere activiteiten</h3>
                    {% for recent_activity in recent_activities %}
                        <div style="margin-bottom: 10px">
                            <a href="/activiteiten/{{recent_activity.date | date:'Y-m-d'}}-{{recent_activity.slug}}"><b>{{ recent_activity.name }}, {{ recent_activity.date }}</b></a>
                            <p>{{ recent_activity.short }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="" class="col-md-2">
            </div>
        </div>
    </div>
</div>
{% endblock %}
