{% extends "index.htm" %}

{% block embody %}
<div id="article_page">
    <div class="container">
        <div class="mb-5">
            <h1 class="page_title">{{ article.title }}</h1>
            <h4 class="page_date">{{ article.date | date:'l j F Y' | capfirst }}</h4>
        </div>
        <div class="row">
            <div class="col-9">
                {{ article.content | safe }}
            </div>
            <div class="col-3">
                <a class="nothing" href="/lid-worden">
                    <div class="bg-color1 p-3 color5 shadow">
                        <div class="fs-5 mb-3">Help mee onze schaarse natuur te beschermen en wordt lid van Natuurpunt</div>
                        <div class="fs-6">Samen met meer dan 133.000 gezinnen maak je wel degelijk het verschil.</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
