{% extends "index.htm" %}

{% block embody %}
<div id="article">
    <div class="container">
        <h1 class="page_title_with_date">{{ article.title }}</h1>
        <div class="row">
            <div class="col-xs-12">
                <h4>{{ article.date }}</h4>
                <!-- <div class="gallery" style="margin-bottom: 15px;"><a ng-if="item.photo != ''" class="button1">Bekijk fotoalbum</a></div> -->
            </div>
        </div>
        <div class="row row-grid">
            <div class="col-md-8">
                <!-- <img ng-if="item.image_big != ''" ng-src="[[item.image_big]] class="img-responsive" style="width:100%; margin-bottom: 10px;"> -->
                <!-- <div style="text-align: justify;" ng-bind-html="item.content"></div> -->
                <div style="text-align: justify;">{{ article.content | safe }}</div>
            </div>
            <div class="col-md-4">
                <!-- <div class="box"> -->
                    <!-- <div class="box-title">Recent nieuws</div> -->
                    <!-- <div ng-repeat="other_news_item in other_news_items | limitTo: n" style="margin-top: 10px;"> -->
                        <!-- <a ng-href="/nieuws/[[other_news_item.date | date: 'yyyyMMdd' ]]-[[other_news_item.link]]" class="color3"> -->
                            <!-- <span>[[ other_news_item.date | date:'d' ]] [[ other_news_item.date | date:'MMM' | limitTo:3 ]]</span> -->
                            <!-- <span> - </span> -->
                            <!-- <span>[[ other_news_item.title ]]</span> -->
                        <!-- </a> -->
                    <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
