{% extends "index.htm" %}

{% block embody %}
<div id="gluren_bij_de_buren_page" class="container">
    <h1 class="page_title">Gluren bij de buren</h1>
    <div class="row row-grid">
        <div class="col-md-8 col-lg-8">
            <div class="intro">
                Ook in de buurgemeenten van Oosterzele kan je meedoen aan allerlei leuke activiteiten van Natuurpunt. We lijsten er hier enkelen voor je op. Neem zeker ook eens een kijkje op <a href="http://www.natuurpunt.be/op-stap" target="_blank">www.natuurpunt.be/op-stap</a>. Hier vind je een overzicht van alle activiteiten van Natuurpunt over heel Vlaanderen.
            </div>
            {% for activity in activities %}
            <div class="activity">
                <div class="title">
                    <h3><a href="{{ activity.link }}" target="_blank">{{ activity.name }}</a></h3>
                </div>
                <div class="date">
                    {{ activity.date | date:'l d F' | capfirst }}
                </div>
                <div class="text">
                    {{ activity.text }} <a href="{{ activity.link }}" target="_blank">Meer info</a>.
                </div>
                <div class="link">
                    Deze activiteit wordt georganiseerd door <a href="{{ activity.get_division_link }}" target="_blank" class="color3">{{ activity.get_division_display }}</a>.
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4 col-lg-4" id="activities">
            <div class="box">
                <h3 style="margin-bottom: 25px">Onze activiteiten</h3>
                {% for activity in our_activities %}
                    <div class="activity">
                        <a href="/activiteiten/{{activity.date | date:'Y-m-d'}}-{{activity.slug}}"><b>{{ activity.date }} - {{ activity.name }}</b></a>
                        <p>{{ activity.short }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
