{% extends "index.htm" %}

{% block embody %}
<div id="lidworden" class="container">
    <h1 class="page_title">Lid worden</h1>
    <div class="row">
        <div class="col-md-8">
            <p>Help de natuur in Vlaanderen en word met het ganse gezin lid van Natuurpunt. Samen met meer dan 107.000 gezinnen maak je wel degelijk het verschil. Het jaarlijkse lidmaatschap per gezin bedraagt 27,00 euro.</p>

            <h2>Wat krijg ik als lid van Natuurpunt?</h2>
            <p>Lid worden van Natuurpunt, da’s genieten van de natuur én van heel wat voordelen! Je krijgt:</p>
            <p>
                <ul>
                    <li>de Natuurpunt wandelgids met 66 uitgestippelde wandelingen en fietstochten in de mooiste natuurgebieden van België,</li>
                    <li>vier maal per jaar het kleurrijke ledentijdschrift Natuur.blad,</li>
                    <li>vier maal per jaar de nieuwsbrief van Natuurpunt Oosterzele,</li>
                    <li>ven volledig aanbod van honderden activiteiten in gans Vlaanderen,</li>
                    <li>korting in onze winkel en bij tal van partners.</li>
                </ul>
            </p>

            <h2>Hoe word ik lid?</h2>
            <p>Lid worden kan <a href="https://www.natuurpunt.be/steunen/lidmaatschap/inschrijven?recruiting_organisation_id=248629" target="_blank">online via deze link</a>.</p>
            <p>Of door 27,00 € over te schrijven op rekeningnummer BE37 0012 2707 2228 van Natuurpunt Oosterzele (Pontslag 11, 9860 Balegem) met vermelding van "nieuw lid".</p>

            <h2>Geef een lidmaatschap cadeau!</h2>
            <p>Op zoek naar een origineel geschenk? Geef je familie en vrienden een stukje natuur cadeau met een lidmaatschap van Natuurpunt! Jij betaalt het lidgeld, zij ontvangen het welkomstpakket en genieten van alle leuke ledenvoordelen. Lees er <a href="http://www.natuurpunt.be/geef-een-lidmaatschap-cadeau" target="_blank">hier</a> meer over.</p>
        </div>
        <div class="col-md-4">
            <img src="/static/images/lidworden_1.png" class="img-fluid" alt="">   
        </div>
    </div>
</div>
{% endblock %}
