{% extends "index.htm" %}

{% block embody %}
<div class="container">
    <h1 class="page_title text-center">Memorandum Gemeenteraadsverkiezingen</h1>
    <h3 class="color1 text-center">Antwoorden van N-VA</h3>
    <div class="row">
        <div class="col-md-12 col-lg-2">
        </div>
        <div class="col-md-12 col-lg-8 text-justify">
            <p>
                Naar aanleiding van de gemeenteraadsverkiezingen overhandigden wij een <a href="/memorandum/">memorandum</a> aan de politieke partijen in Oosterzele. We gaven hen hierbij ook enkele stellingen. De antwoorden van <a href="https://oosterzele.n-va.be/" target="_blank">N-VA</a> vind je hieronder. De nummers van de vragen komen overeen met de zes thema's van het memorandum.
            </p>
            <p class="font-weight-bold">
                1a. Het gemeentebestuur moet werk maken van meer natuur/bosuitbreiding.
            </p>
            <p>
                Ja. 'Groen' is het economisch model van Oosterzele. het zorgt ervoor
                dat mensen hier graag wonen én het geeft de mogelijkheid om een
                groene economie te ontwikkelen rond toerisme, zachte recreatie,
                horeca ... Via een Gemeentelijk Ruimtelijk Beleidsplan met 'groennorm'
            </p>
            <p class="font-weight-bold">
                1b. Het gemeentebestuur moet Natuurpunt en andere terreinbeherende verenigingen beleidsmatig helpen bij het ontwikkelen van natuurgebieden in Oosterzele? Bv. door samen te werken om alternatieve financiering te zoeken, samenwerking met andere besturen en organisaties te ondersteunen, ... .
            </p>
            <p>
                Ja. Met oog voor evenwicht tov andere verenigingen kan dit. Het gemeentebestuur
                moet in ieder geval faciliterend optreden.
            </p>
            <p class="font-weight-bold">
                1c. Het gemeentebestuur moet Natuurpunt en andere terreinbeherende verenigingen helpen bij het beheer van natuurgebieden in Oosterzele? Bv. ondersteunen door het inzetten van gemeentearbeiders en/of het machinepark van de gemeente, afvoeren van beheerresten, ... .
            </p>
            <p>
                Nee. Dit gaat vermoedelijk de draagkracht van de gemeente te boven. Het
                feit dat de gemeente nu reeds een aantal jaren het openbaar domein
                volledig herbicidenvrij onderhoudt, zorgt voor een chronische grote
                belasting van de groenploegen.
            </p>
            <p class="font-weight-bold">
                1d. Het gemeentebestuur moet zelf gericht natuur- en bosgebieden aankopen. Als streefdoel stellen we 1 ha bijkomende natuur per jaar gedurende de komende 6 jaar.
            </p>
            <p>
                Nee. Dit gaat vermoedelijk de draagkracht van de gemeente te boven.
                    Maar waar een gelegenheid zich aandient en het betekent een meerwaarde
                    voor de natuur (bestaand natuurgebied kopen heeft geen
                    meerwaarde) moet het kunnen mits inzetten van subsidies.
            </p>
            <p class="font-weight-bold">
                1e. Het gemeentebestuur moet Natuurpunt en andere terreinbeherende verenigingen financieel ondersteunen bij de aankoop van natuurgebieden in Oosterzele.
            </p>
            <p>
                Nee. Dit gaat vermoedelijk de draagkracht van de gemeente te boven.
                Maar waar een gelegenheid zich aandient en het betekent een meerwaarde
                voor de natuur moet het op beperkte schaal kunnen.
            </p>
            <p class="font-weight-bold">
                2a. Het gemeentebestuur moet meer werk maken van het natuurvriendelijk inrichten van de openbare ruimte, o.a door het gebruik van inheemse planten- en boomsoorten, het voorzien van schuil- en nestplaatsen voor soorten en de natuur z’n gang te laten gaan waar mogelijk.
            </p>
            <p>
                Ja. Dit gebeurt nu al in grote mate en dient uitgebreid te worden.
            </p>
            <p class="font-weight-bold">
                2b. Het bestuur moet de bestaande natuurwaarden buiten de natuurgebieden, zoals bv. in wegbermen, openbare terreinen, bosjes, ... beter inventariseren en beschermen.
            </p>
            <p>
                Ja. Gebeurt nu reeds, maar kan verder uitgewerkt worden. De groene
                bloeiende wegbermen zijn het visitekaartje van onze gemeente.
            </p>
            <p class="font-weight-bold">
                2c. De gemeente moet natuurlijke tuinen actief promoten (en subsidiëren) in samenwerking met Natuurpunt en andere natuurverenigingen en zo honderden nieuwe natuurgebiedjes creëren in de gemeente.
            </p>
            <p>
                Ja. Dit gebeurt nu reeds via info, promotie, wedstrijd... Subsidiëring kan
                enkel actiegewijs, niet structureel wegens te duur.
            </p>
            <p class="font-weight-bold">
                3a. Het volgend bestuur moet de ambities van de Vlaamse “betonstop” onderschrijven en versneld ten uitvoer brengen.
            </p>
            <p>
                Ja. Zie hoger. Via Gemeentelijk Ruimtelijk Beleidsplan voor de
                hele gemeente (100 000 tot 150 000 euro), met daarin de groennorm
                die naast het aanblik van de gemeente ook een boost
                moet geven aan de natuur, oa. via groene verbindingsassen.
            </p>
            <p class="font-weight-bold">
                3b. De huidige plannen voor de omvorming van de N42 (volledige ontdubbeling en verlegging tracé) vormen een aanslag op de open ruimte en het landschap.
            </p>
            <p>
                Nee. Niet akkoord. De ontdubbeling neemt amper meer ruimte in beslag en
                zorgt voor een betere doorvoer, dus minder punctuele vervuiling. er
                moet wel over gewaakt worden dat de bermen groene muren worden
                met beplanting die - opnieuw - het visitekaartje worden van
                Oosterzele. Baanwinkels of andere zichtbare (economische)
                bedrijvigheid langs de N42 dient vermeden te worden.
            </p>
            <p class="font-weight-bold">
                3c. Oosterzele moet aansluiten bij een Regionaal Landschap.
            </p>
            <p>
                Ja. Akkoord indien de mogelijkheid zich aandient.
            </p>
            <p class="font-weight-bold">
                4a. Het gemeentebestuur moet actief inzetten op het creëren van kansen voor landbouwers die op een duurzame manier voeding willen produceren dichtbij en mét de mensen en die van landbouwgrond een gedeelde en multifunctionele ruimte willen maken.
            </p>
            <p>
                Ja. Faciliterend optreden binnen de wettelijke kaders.
            </p>
            <p class="font-weight-bold">
                4b. Het gemeenteestuur moet actief instrumenten opzetten en aanmoedigen die de vergroening en belevingswaarde van de landbouw vergroten en goed zijn voor de biodiversiteit en het landbouwbedrijf weerbaarder maken.
            </p>
            <p>
                Ja. Faciliterend optreden binnen de wettelijke kaders.
            </p>
            <p class="font-weight-bold">
                4c. Het gemeentebestuur moet werk maken van een gedegen erosiebestrijdingsplan.
            </p>
            <p>
                Ja. Desnoods via dwingende maatregelen.
            </p>
            <p class="font-weight-bold">
                5a. Het bestuur moet (samen met de uitbaters) mee werken aan een definitieve bescherming van de oeverzwaluwpopulatie in de zandsteengroeve in Balegem. Bv. door de aanleg van een permanente broedwand te bewerkstelligen/helpen financieren.
            </p>
            <p>
                Ja.
            </p>
            <p class="font-weight-bold">
                5b. Het bestuur moet bij enkele drukke amfibieën-oversteekplaatsen (al dan niet naar aanleiding van wegeniswerken) overwegen een permanente amfibieëntunnel aan te leggen.
            </p>
            <p>
                Ja.
            </p>
            <p class="font-weight-bold">
                6a. Het gemeentebestuur moet aan Natuurpunt logistieke steun bieden bij de organisatie van (publieksgerichte) activiteiten.
            </p>
            <p>
                Ja. In de mate dat er een evenwicht kan gevonden worden met andere
                verenigingen en de reeds bestaande financiële steun.
            </p>
            <p class="font-weight-bold">
                6b. Bestuur en gemeentelijke diensten moeten met de natuurverenigingen samen werken als volwaardige en gelijkwaardige partners.
            </p>
            <p>
                Ja.
            </p>
            <p class="font-weight-bold">
                6c. De natuurverenigingen moeten betrokken worden bij de uitvoering van het gemeentelijke natuurbeleid, zowel inhoudelijk als uitvoerend.
            </p>
            <p>
                Ja. Met volgende kanttekening: inhoudelijk kan dit via de adviesraad
                MINA-raad; uitvoerend is wettelijk een ander paar mouwen. Maar
                als natuurverenigingen bepaalde taken op zich willen nemen, is dit
                bespreekkbaar. Uiteraard mits afspraken en niet vrijblijvend.
            </p>
        </div>
        <div class="col-md-12 col-lg-2">
        </div>
    </div>
</div>
{% endblock %}
