{% extends "index.htm" %}

{% block embody %}
<div id="natuurgebieden" class="container">
    <h1 class="page_title">Natuurgebieden</h1>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <h2>Vosbroeken</h2>
            <p class="text-justify">
            Ons eerste en tevens kleinste natuurgebied, gelegen naast het centrum van Balegem langs de Molenbeek ter hoogte van Broek. Dit stukje bronbos is net geen halve hectare groot, maar sluit mooi aan met een aantal stukken beekbegeleidend bos in privébezit. De boomlaag wordt gekenmerkt door vooral Es en Els. Het heeft een mooie voorjaarsflora van Speenkruid, Bosanemoon, Slanke sleutelbloem, ... Beheer bestaat vooral uit het onderhoud van de boszoom en hakhout.
            </p>
            <h2>Gondebeek</h2>
            <p class="text-justify">
                Tussen de gemeenten Gontrode, Lemberge, Moortsele en Landskouter werken we aan een groter natuurgebied. Het natuurgebied, Gondebeek genaamd, naar de beek die doorheen het gebied stroomt, is een meersengebied dat hoofdzakelijk bestaat uit vochtige hooilanden, natte ruigtes, knotboomrijen en kleinere bosjes. Momenteel zijn zo’n 6 ha eigendom van Natuurpunt Oosterzele . Het visiegebied is echter ruim 10 maal groter. Het grootste deel is aangeduid als “valleigebied”. Een deel van het visiegebied is aangeduid als habitatrichtlijngebied en/of VEN. Een groot deel van het visiegebied bestaat bovendien uit biologisch waardevolle percelen. Via gerichte aankopen willen we de komende jaren het natuurgebied gestaag laten groeien binnen dit visiegebied.
            </p>
            <p class="text-justify">
                Natuurgebied Gondebeek sluit in het noordoosten aan bij het boscomplex Aelmoeseneie dat in beheer is door het Agentschap voor Natuur en Bos en het Labo voor Bosbouw van de Universiteit Gent. Op deze manier wordt een groter natuurcomplex met grote natuur(belevings)waarde gevormd. Recent werd overleg gepleegd door de verschillende beheerders met o.a. de bedoeling om het gebied beter open te stellen voor recreatie.
            </p>
            <h2>Heidebos</h2>
            <p class="text-justify">
                Het Heidebos is een biologisch waardevol bosgebied (volgens de biologische waarderingskaart: zuur eikenbos type) van 1 ha groot. In de 18de eeuw maakte het deel uit van een groter boscomplex (cf. Ferrariskaart). In 2003 werd dit bos door de gemeente aangekocht. Sedert 2009 wordt het beheer (hoofdzakelijk hakhoutbeheer) uitgevoerd door Natuurpunt Oosterzele.
                De kruidlaag wordt gedomineerd door de Bosanemoon, een typische voorjaarsbloeier (maart - mei). Deze plant bloeit voor de bomen in blad komen. Zijn aanwezigheid wijst erop dat het heidebos een oud bos is. Ook Valse salie en Veelbloemige salomonszegel komen veelvuldig voor in de kruidlaag. 
                In de struiklaag valt de Hazelaar, tevens een oude bosplant, op. Verder treft men er Vlier, Haagbeuk, Kastanje, Sleedoorn, Meidoorn, Lijsterbes, Spork, Gelderse roos, Veldiep, Boswilg, Gewone esdoorn en Zoete kers aan. Tevens werd er Mispel aangetroffen.
                In de boomlaag zien we vooral Zomereik, die zo’n 70 à 80 jaar oud zijn. Daarnaast komen ook populier, Grauwe abeel, Gewone es en Ruwe berk voor. Grauwe abeel is een spontane kruising tussen Witte abeel en Trilpopulier.
            </p>
            <h2>Boomplantacties</h2>
            <p class="text-justify">
                Net zoals in de rest van Vlaanderen is ook in onze gemeente de natuur erg schaars en versnipperd. Lijnvormige elementen zoals bomenrijen, houtkanten en hagen kunnen hiertussen een belangrijke verbindingsweg vormen voor dieren en planten en zo hun overlevingskansen sterk verhogen. De afgelopen jaren organiseerde NPO in samenwerking met de Mina-raad verschillende boomplantacties. Zo plantten we bomenrijen aan in Broek (Essen) en Frankenbos (Zomereik) en werd de holle weg in de Oude Heirbaan terug voorzien van een gevarieerde houtkant (Meidoorn, Sleedoorn, Hazelaar, Es, Eik, Gelderse roos, etc.).
            </p>
        </div>
        <div class="col-xs-12 col-md-4">
            <div id="natuurgebieden_kaart" ng-controller="MapController" style="height: 500px;"></div>
        </div>
    </div>
</div>
{% endblock %}
