{% extends "index.htm" %}

{% block embody %}
<div class="container">
    <h1 class="page_title">Gondebeekvallei</h1>
    <h2 class="sub_title mb-4">Toegankelijkheid</h2>
    <div class="row">
        <div class="col-md-12 col-lg-9">
            <p class="text-justify">
                Natuurpunt wil in het dicht bevolkte en sterk verstedelijkte Vlaanderen de natuur terug een plaats geven om de neerwaartse spiraal van de biodiversiteit te stoppen en onze leefomgeving gezond te houden. Onze natuurgebieden vormen voor ons, mensen een aangename plek om te ontstressen en volop te genieten van alles wat de natuur te bieden heeft.
            </p>
            <p class="text-justify">
                Voor duizenden andere levende wezens rondom ons zoals planten, dieren en zwammen is die natuur hun leefplek, hun thuis. Veel soorten hebben bovendien nood aan een leefgebied waar ze ongestoord door mens en huisdier kunnen gedijen. Daarom wil Natuurpunt samen met het Agentschap Natuur en Bos een deeltje van de Gondebeekvallei en het Aelmoeseneiebos als rust- en broedgebied reserveren voor de soorten die zonder de nodige rust dreigen te verdwijnen.
            </p>
            <img src="/static/images/natuurgebieden/natuurgebieden_gondebeekvallei_toegankelijkheid.jpg" class="img-fluid mb-3" alt="">
            <p>Bedankt om het rood gekleurde gebied niet te betreden en de levende natuur te respecteren.</p>
            <p>Als alles volgens planning verloopt zal er een nieuwe wandelverbinding tussen het natuurgebied Gondebeekvallei en het dorp van Landskouter gerealiseerd worden in het najaar van 2024.</p>
        </div>
        <div class="col-md-12 col-lg-3">
            <a class="nothing" href="/lid-worden">
                <div class="bg-color1 p-3 color5 shadow">
                    <div class="fs-5 mb-3">Help mee onze schaarse natuur te beschermen en wordt lid van Natuurpunt</div>
                    <div class="fs-6">Samen met meer dan 133.000 gezinnen maak je wel degelijk het verschil.</div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
