<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
        <link rel="stylesheet" type="text/css" href="/static/admin/style.css">
    </head>
    <body>
        <div id="map" class="h-100"></div>

        <script type="text/javascript">

            baselayer1 = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {maxZoom: 18, attribution: '<a href="https://www.openstreetmap.org" target="_blank">OpenStreetMap</a>'});
            baselayer2 = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {maxZoom: 18, attribution: '<a href="http://www.esri.com" target="_blank">ESRI</a>'});

            var baselayers = {
                'Kaart': baselayer1,
                'Satelliet': baselayer2
                };


            style_perimeter = {
                "weight": 2,
                "opacity": 1,
                "fill": false,
                "color": 'blue',
            };

            style_natura_2000 = {
                "weight": 2,
                "opacity": 1,
                "fill": false,
                "color": 'green',
            };

            natura_2000 = L.geoJson(JSON.parse('{{ natura_2000 | escapejs }}'), {style: style_natura_2000});
            perimeter = L.geoJson(JSON.parse('{{ perimeter | escapejs }}'), {style: style_perimeter});

            var overlays = {
                "Natura 2000": natura_2000,
                "Zoekzone": perimeter,
            };

            map = L.map('map', {layers: [baselayer1, natura_2000]}).setView([50.961886, 3.760017], 12);

            layer_control = L.control.layers(baselayers, overlays, {collapsed: false});
            layer_control.addTo(map);
        </script>
    </body>
</html>
