{% extends "index.htm" %}

{% block embody %}
<div id="soortbescherming" class="container">
    <h1 class="page_title">Soortbescherming</h1>
    <div class="row">
        <div class="col-md-12 col-lg-8">
            <h2 class="sub_title">Amfibieën</h2>
            <p class="text-justify">
                Sedert verschillende jaren organiseren we in Oosterzele een aantal paddenoverzetacties (Lembergestraat en Hoek ter Hulst) in Landskouter. In het vroege voorjaar (februari-maart), wanneer de temperaturen beginnen te stijgen, trekken padden (en andere amfibieën) van hun overwinteringsplaats naar hun voortplantingspoel. Deze “trek” verloopt meestal vrij synchroon over een periode van slechts enkele weken. Als de dieren hierbij een drukke weg moeten oversteken, vallen er onvermijdelijk vele verkeersslachtoffers. Daarom plaatsten we tijdens zo een paddenoverzetactie een afrastering langs de weg waardoor de dieren naar ingegraven emmers geleid worden. De dieren worden dan 1 of 2 maal per dag gecontroleerd overgezet door onze vrijwilligers. Het aantal dieren, soort en geslacht wordt geregistreerd zodat door de jaren heen een idee kan gevormd worden van de populatie.
            </p>
            <p class="text-justify">
                De paddenoverzetacties worden ook geregeld aangegrepen om jongeren een en ander bij te brengen over amfibieën. Zo kregen we al verschillende klasjes op bezoek en werden een aantal workshops hierrond georganiseerd voor de scholen.
            </p>
            <h2 class="sub_title">Kerk- en Steenuil</h2>
            <p class="text-justify">
                De voorbije jaren werden de zolders van de verschillende kerken in Oosterzele, alsook enkele schuren van boerderijen voorzien van een nestkast voor Kerkuilen. Enkele van deze nestkasten zijn jaarlijks in gebruik en ondertussen konden we al heel wat kuikens ringen. Bekijk <a href="/soortbescherming/steenuil">hier</a> de eerste beelden genomen met onze wildcaman aan een steenuilenkast.
            </p>
            <p class="text-justify">
                Een paar jaar terug hebben we in Balegem een 15-tal nestkasten voor Steenuil (onze kleinste uilensoort) geplaatst. Ook hier wordt het gebruik jaarlijks opgevolgd en ondertussen kunnen we ook hier op enig succes rekenen: vorig jaar hadden we in een nestkast de eerste jongen en dit jaar zijn een drietal nestkasten in gebruik genomen.
            </p>
            <p class="text-justify">
                Heb je zelf weet van zeldzame vogels (uilen, roofvogels, zwaluwkolonies, etc.) in je buurt, signaleer het ons. Heb je een grote schuur of stal en denk je dat het interessant zou zijn bv. een kerkuilkast, kunstnesten voor zwaluwen, ... te plaatsen, geef ons een seintje en we helpen je graag verder.                </p>
            <h2 class="sub_title">Vleermuizen</h2>
            <p class="text-justify">
                Recent zijn we ook gestart met het inrichten en inventariseren van vleermuizen in kerkzolders, bunkers en ijskelders in de gemeente. Deze objecten worden door vleermuizen gebruikt als zomer- (voornamelijk kerkzolders) of winterverblijf (bunkers en ijskelders). 
            </p>
            <p class="text-justify">
                Er zijn historische data van een grote kolonie “Ingekorven vleermuizen”, een redelijk zeldzame soort in Vlaanderen, in de kerk van Oosterzele. Bij een recente inspectie werden echter slecht weinig sporen (uitwerpselen) van vleermuizen gevonden. Wellicht is dit te wijten aan de overbelichting van onze monumenten en de verarming van het aangrenzende biotoop. In de kerk van Balegem werd echter een aanzienlijke kolonie “Laatvliegers” aangetroffen. Door middel van tellingen in juni (wijfjes) en juli (wijfjes + jongen) wordt de kolonie opgevolgd.
            </p>
            <p class="text-justify">
                Recent kon Natuurpunt een drietal bunkers op grondgebied Oosterzele overkopen van het Belgische leger. Deze worden ingericht tot winterverblijfplaatsen voor vleermuizen. Bunkers zijn vaak ofwel volledig dichtgemaakt of net volledig open. Aanpassingen bestaan er dan in om terug een kleine invliegopeningen te maken, of anderzijds een (dubbele) deur met kleine openingen te voorzien. Het gladde beton van bunkers is ook niet echt geschikt voor vleermuizen om zich aan vast te grijpen en daarom wordt er ook meestal extra microreliëf (bakstenen) voorzien.
            </p>
            <h2 class="sub_title">Oeverzwaluw</h2>
            <p class="text-justify">
                In de zand- en zandsteengroeve Balegro in Balegem huist sedert jaar en dag een kleine kolonie oeverzwaluw van zo’n 20 a 30 koppels. De vogels broeden er in holen in de steile zandtaluds. NPO maakte er (via de Mina-raad) een punt van om deze dieren afdoende te beschermen bij de op stapel staande uitbreiding van de groeve. Er kwam overleg met de uitbaters en de kolonie zal nu jaarlijks opgevolgd worden.
            </p>
        </div>
        <div class="col-md-12 col-lg-4">
            <div class="box">
                <div class="box-heading">
                    Natuurgebieden
                </div>
                <div class="box-content">
                    Uiteraard beschermen we ook vele diersoorten door hun natuurlijke habitat een plek te geven in de <a href="/natuurgebieden">Oosterzeelse natuur</a>.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
