{% extends "index.htm" %}

{% block embody %}
<div id="start">

    <!-- Carousel -->
    <div class="mb-5">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/static/images/start.jpg" alt="First slide">
                </div>
                <!-- <div class="carousel-item">
                    <img class="d-block w-100" src="/static/images/start.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/static/images/start.jpg" alt="Third slide">
                </div> -->
            </div>
        </div>
    </div>

    <!-- <div class="container mb-5">
            <div class="row">
                <div class="col-12 text-center">
                    <a href="/memorandum/" class="d-block">
                        <div class="bg-color2 p-3">
                            Lees hier ons memorandum naar aanleiding van de gemeenteraadsverkiezingen en de reacties van N-VA en Groen!
                        </div>
                    </a>
                </div>
            </div>
        </div> -->

    <!-- Activities -->
    <div id="activities" class="container mb-5">
        <div class="row">
            {% for activity in activities %}
            <div class="col-sm-12 col-md-4">
                <a href="/activiteiten/{{activity.date | date:'Y-m-d'}}-{{activity.slug}}" class="nothing" style="color: inherit;">
                    <div>
                        <h4 class="color1">{{ activity.name }}</h4>
                        <p>{{ activity.date | date:'l j F' | capfirst }}</p>
                        <p class="m-0">{{ activity.short }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container mb-5">
        <div class="row">
            <div class="col-sm-12">
                <a href="/activiteiten/2019-04-23-benefiet-wouter-deprez/"><img src="/static/images/banner.png" class="img-fluid" /></a>
            </div>
        </div>
    </div>

    <!-- Newsletter -->
    <div id="newsletter" class="mb-5 py-5 bg-color1">
        <div id="newsletter_in" class="container">
            <div class="row">
                <div class="col-12 text-center pb-3">
                    <h2 class="color4">Schrijf je in op onze e-nieuwsbrief en blijf op de hoogte van alle nieuwtjes!</h2>
                </div>
            </div>
            <div class="row text-center">
                {% if newsletter_message is not None %}
                <div class="col-12 color4">
                    {{ newsletter_message }}
                </div>
                {% else %}
                <div class="col-12">
                    <form action="#newsletter" method="post" novalidate>{% csrf_token %}
                        {% if form.non_field_errors or form.email.errors %}
                        <p class="color4">
                        {{ form.non_field_errors.as_text }}
                        {{ form.email.errors.as_text }}
                        </p>
                        {% endif %}
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-6">
                                {{ form.email }}
                            </div>
                            <div class="col-sm-2">
                                <input class="button" type="submit" value="Schrijf nu in">
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Picture + Wildcam -->
    <div id="picture_wildcam" class="container text-center">
        <div id="wildcam_row "class="row row-grid">
            <!-- Picture -->
            <div class="col-sm-12 col-md-6">
                <h1 class="color3">Sent-a-picture</h1>
                <p class="m-0">We zetten de Oosterzeelse natuur die we beschermen graag in de kijker. Stuur ons daarom jouw mooiste en leukste foto's door van dieren, planten, landschappen en favoriete plekjes in en rond Oosterzele. Wie weet komt jouw foto dan op onze website terecht! Stuur je foto door naar <a href="mailto:foto@natuurpuntoosterzele.be">foto@natuurpuntoosterzele.be</a> met vermelding van je naam en waar de foto genomen is.</p>
            </div>
            <!-- Wildcam -->
            <div class="col-sm-12 col-md-6">
                <h1 class="color3">Rent-a-wildcam</h1>
                <p class="m-0">Word je in je tuin geconfronteerd met een raar fenomeen en wil je weten welk dier hier achter zit? Heb je gestommel en gerommel onder je dak en vermoed je de aanwezigheid van bepaalde dieren? Neem dan contact met ons op en wij komen een wildcam bij jou thuis plaatsen! Zo'n wildcam begint automatisch op te nemen bij beweging en dat zowel overdag als 's nachts. Na een aantal dagen komen we de wildcam terug ophalen en bekijken we samen de beelden. Contacteer ons via <a href="mailto:wildcam@natuurpuntoosterzele.be">wildcam@natuurpuntoosterzele.be</a>.</p>
            </div>
        </div>
    </div>

</div>
<!-- <script type="text/javascript"> -->
    <!-- $('.carousel').carousel() -->
<!-- </script> -->
{% endblock %}
