{% extends "index.htm" %}

{% block embody %}
<div id="start">

    <!-- Image -->
    <div id="image" ><img src="/static/images/start.jpg" class="img-responsive" /></div>

    <!-- Activities -->
    <div id="activities" class="container">
        <div class="row row-grid">
            {% for activity in activities %}
                <div class="col-sm-12 col-md-4">
                    <a href="/activiteiten/{{activity.date | date:'Y-m-d'}}-{{activity.slug}}" class="nothing"><h3 class="color1">{{ activity.name }}</h3></a>
                    <p>{{ activity.date }}</p>
                    <p>{{ activity.short }}</p>
                    <a class="btn btn-default" href="/activiteiten/{{activity.date | date:'Y-m-d'}}-{{activity.slug}}" role="button">Meer info</a>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Transfer -->
    <div id="transfer" class="container">
        <div class="row">
            <div class="col-md-3 col-lg-12">
            </div>
            <div class="col-md-6 col-lg-12 bg-color2">
                <div class="row">
                    <div class="col-md-12 col-lg-5" style="padding-left:0px; padding-right:0px;">
                        <img src="/static/images/overzet.jpg" class="img-responsive" />
                    </div>
                    <div class="col-md-12 col-lg-7" style="padding: 30px; font-size: 14px;">
                        <h2 class="color1" style="margin-bottom:15px;">Daar is de lente, daar is de amfibietrek!</h2>
                        <p>Momenteel ontwaken padden, kikkers en salamanders massaal uit hun winterslaap en beginnen ze aan de jaarlijkse grote trek naar hun voortplantingspoel. Een indrukwekkend natuurfenomeen! Door het dichte Vlaamse wegennet moeten veel amfibieën tijdens die tocht een weg oversteken. Vaak eindigt dit in een jammerlijke platte dood. Langs de trekroutes worden daarom schermen geplaatst die de amfibieën naar ingegraven emmers leiden. Vrijwilligers controleren die ‘vallen’ dagelijks en zetten alle amfibieën veilig over naar de andere kant van de straat. In Oosterzele doen we dit aan de Lembergestraat en Hoek ter Hulst. Wil je graag eens meegaan op een avond? Contacteer ons dan via <a href="mailto:info@natuurpuntoosterzele.be">info@natuurpuntoosterzele.be</a>.</p>
                        <p>Dit jaar hebben we al {{ transfer.toads }} padden, {{ transfer.frogs }} kikkers en {{ transfer.salamanders }} salamanders overgezet.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-12">
            </div>
        </div>
    </div>

    <!-- Newsletter -->
    <div id="newsletter">
        <div id="newsletter_in" ng-controller="NewsletterController" class="container text-center">
            <div class="row">
                <h2 class="color4">Schrijf je in op onze e-nieuwsbrief en blijf op de hoogte van alle nieuwtjes!</h2>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" ng-if="post == false">
                    <input name="" type="text" class="input_mail" ng-model="data.adress" maxlength="50" id="" style="padding: 7px; border: 1px solid #e5e5dc; background-color: #f3f2eb; width: 100%;" placeholder="Vul hier je e-mailadres in">
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" ng-if="post == false">
                    <input type="submit" value="Schrijf nu in" ng-click="send()" class="btn btn-primary--transition" style="background-color: #e8f2d9; border-radius: 0px; width: 100%; color:#97C00E;">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="post == true">
                    <div style="line-height:35px; text-align:center; font-size:16px; color: #FFFFFF;" >[[ answer ]]</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Picture + Wildcam -->
    <div id="picture_wildcam" class="container text-center">
        <div id="wildcam_row "class="row row-grid">
            <!-- Picture -->
            <div class="col-sm-12 col-md-6">
                <h1>Sent-a-picture</h1>
                <p>We zetten de Oosterzeelse natuur die we beschermen graag in de kijker. Stuur ons daarom jouw mooiste en leukste foto's door van dieren, planten, landschappen en favoriete plekjes in en rond Oosterzele. Wie weet komt jouw foto dan op onze website terecht! Stuur je foto door naar <a href="mailto:foto@natuurpuntoosterzele.be">foto@natuurpuntoosterzele.be</a> met vermelding van je naam en waar de foto genomen is.</p>
            </div>
            <!-- Wildcam -->
            <div class="col-sm-12 col-md-6">
                <h1>Rent-a-wildcam</h1>
                <p>Word je in je tuin geconfronteerd met een raar fenomeen en wil je weten welk dier hier achter zit? Heb je gestommel en gerommel onder je dak en vermoed je de aanwezigheid van bepaalde dieren? Neem dan contact met ons op en wij komen een wildcam bij jou thuis plaatsen! Zo'n wildcam begint automatisch op te nemen bij beweging en dat zowel overdag als 's nachts. Na een aantal dagen komen we de wildcam terug ophalen en bekijken we samen de beelden. Contacteer ons via <a href="mailto:wildcam@natuurpuntoosterzele.be">wildcam@natuurpuntoosterzele.be</a>.</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}
