{% extends "index.htm" %}

{% block embody %}
<div class="container">
    <h1 class="page_title">Steun ons</h1>
    <p>Natuurpunt Oosterzele kan best wel wat steun gebruiken. Er kruipt namelijk heel wat tijd in het realiseren van natuur en ook het kostenplaatje is niet min. Bovendien zijn onze plannen redelijk ambitieus. Natuurpunt Oosterzele, Natuurpunt Boven-Schelde en BOS+ sloten immers een “green deal”: meer bos en natuur realiseren in de regio van de Makegemse bossen en het Aelmoeseneiebos. Hieronder vind je de verschillende mogelijkheden om ons te steunen en zo zelf bij te dragen aan meer en betere natuur in onze regio!</p>
    <ul>
        <li>De eenvoudigste manier om Natuurpunt Oosterzele te steunen is door lid te worden van Natuurpunt. Dit kan <a href="https://www.natuurpunt.be/steunen/lidmaatschap/inschrijven?recruiting_organisation_id=248629" target="_blank">online</a> of door €27,00 over te schrijven op rekeningnummer BE37 0012 2707 2228 van Natuurpunt Oosterzele (Pontslag 11, 9860 Balegem) met vermelding van "nieuw lid". Alle voordelen van lid te worden kan je <a>hier</a> nog eens nalezen. Wist je dat je ook een lidmaatschap cadeau kan doen? Je leest er <a href="http://www.natuurpunt.be/geef-een-lidmaatschap-cadeau" target="_blank">hier</a> meer over.</li>
        <li>Een gift is natuurlijk ook welkom. Zo kan je meehelpen aan ons natuurgebied de Gondebeek. Elke euro die je doneert gaat naar het beheer en de uitbreiding van dit gebied.</li>
    </ul>
</div>
{% endblock %}
