{% extends "index.htm" %}

{% block embody %}
<div class="container">
    <h1 class="page_title">Steun ons</h1>
    <p>Natuurpunt Oosterzele kan best wel wat steun gebruiken. Er kruipt namelijk heel veel tijd in het realiseren van natuur en ook het kostenplaatje niet min. Bovendien zijn onze plannen redelijk ambitieus. Natuurpunt Oosterzele, Natuurpunt Boven-Schelde en BOS+ sloten immers een “green deal”: meer bos en natuur realiseren in de regio van de Makegemse bossen en het Aelmoeseneiebos. Hieronder kan je de verschillende mogelijkheden vinden om ons te steunen en zo ook zelf bij te dragen aan meer en betere natuur!</p>
    <ul>
        <li>De eenvoudigste manier om Natuurpunt Oosterzele te steunen is door lid te worden van Natuurpunt. Wist je dat je ook een lidmaatschap cadeau kan doen? Je leest er <a href="http://www.natuurpunt.be/geef-een-lidmaatschap-cadeau" target="_blank">hier</a> meer over.</li>
        <li>Een gift is natuurlijk ook welkom. Zo kan je meehelpen aan ons natuurgebied de Gondebeek. Elke euro die je doneert gaat naar het beheer en de uitbreiding van dit gebied.</li>
    </ul>
</div>
{% endblock %}
