{% extends "index.htm" %}

{% block embody %}
<div id="activities_page">
    <div class="container">
        <div class="row">
            {% for activity in activities %}
                <div class="col-sm-12 col-md-6 col-lg-4 all {% if forloop.counter0 > 0 %}not-first-row-sm{% endif %} {% if forloop.counter0 > 1 %}not-first-row-md{% endif %} {% if forloop.counter0 > 2 %}not-first-row-lg{% endif %}">
                    <a href="/activiteiten/{{activity.date | date:'Y-m-d'}}-{{activity.slug}}" class="nothing"><h3 class="color1">{{activity.name}}</h3></a>
                    <p>{{activity.date}}</p>
                    <p>{{ activity.short }}</p>
                    <a class="btn btn-default" href="/activiteiten/{{activity.date | date:'Y-m-d'}}-{{activity.slug}}" role="button">Meer info</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}