
html, body {
    height: 100%;
}

body {
    margin: 0px;
}

#wrapper {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
}

#map {
    flex-basis: 100%;
}
